body {
    overflow: scroll;

}

div.title {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 25px;
}

div.text {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: justify;
    margin: 10px;
    padding: 10px;
}

div.links {
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

div.exampleCode {
    text-align: center;
    font-size: 20px;
}

.img {
    margin: 10px;
    text-align: center !important;
}

textarea:focus {
    outline: none;
    border: none;
}

.p-steps .p-steps-item:before {
    margin-top: 0px;
}

.custom-editor .ql-syntax {
    background-color: #b6d927 !important;
    color: #f8f8f2 !important;
    overflow: visible !important;
}

.ql-editor pre.ql-syntax {
    font-size: 20px !important;
    background-color: #42434d !important;
    border-radius: 5px;
}

.ql-syntax {
    font-size: 20px !important;
    border-radius: 5px;
    background-color: #42434d !important;
}
